<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pagename }}</title>
</head>
<body>
    <h1>{{ pagename }}</h1>
    <nav>
        <ul>
            {% block menu %}
                <li><a href="{% url 'labtorg' %}">Главная страница</a></li>
                <li><a href="{% url 'reagents' %}">Магазин</a></li>
                <li><a href="{% url 'basket' %}">Корзина</a></li>
                <li><a href="{% url 'news' %}">Новости</a></li>
            {% endblock %}
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>